langchain
langchain-core
langchain-community

langchain-openai
langchain-groq
langchain-google-genai
langchain-mistralai

openai
groq
google-generativeai
mistralai

python-dotenv
pydantic
requests
tiktoken
jupyter
ipykernel